body{
    background-color: #f3f4f5;
}

h1{
    font-family: Arial;
    size: 24px;
    color: black;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: 18px;
    color: #757575;
}